.clipboardButtonContainer {
    padding-top: 11px;
}

.clipboardButton {
    padding: 0.65rem;
    border: none;
    color: rgb(17, 17, 17);
    background-color: #8c4bdc;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
}

.clipboardButton:hover {
    background-color: #6e3cb9;
    cursor: pointer;
}