.footer {
    display: flex;
    position: sticky;
    background-color: #131313;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}
