.entry {
    /* Box Model */
    background-color: #1a1a1a;
    padding: 20px;
    box-sizing: border-box;
  
    /* Layout */
    width: fit-content;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.removeButton {
    opacity: 0;
    transition: opacity 0.3s ease;
}


/* .entry:hover {
    background-color: #2a2a2a;
} */

.textInput {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
