.titleTextBoxContainer {
    width: 150px;
    height: 1em;
}

.titleTextBox {
    /* Box Model */
    background-color: transparent;
    border: none;
    outline: none;

    /* Typography */
    font-weight: bold;
    font-size: 1em;
    color: white;
}

.titleTextBox:hover {
    background-color: rgba(60, 60, 60, 0.329);
    transition: background-color 0.2s ease;
}